NODE_ENV=development
PORT=3000
CORS_ORIGIN=https://app.srmgestao.com.br,http://localhost:3000,http://localhost:5173

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=template_saas

# Redis
REDIS_HOST=localhost

REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=supersecret
JWT_REFRESH_SECRET=refreshsecret

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=user@example.com
EMAIL_PASS=password

# FRONTEND - Para ser enviado com as mensagem de email
FRONTEND_URL=http://localhost:3000